.img-perfil {
  width: 52px;
  height: 52px;
  border-radius: 50px;
}

.btn-item {
  width: 24px;
  height: 24px;
}


.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #4c79ff;
}